<mat-card>
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title color="primary">Criar Recomendação</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field class="full-width">
                <input matInput placeholder="Titulo" formControlName="title">
            </mat-form-field>
        
            <mat-form-field class="full-width">
                <input matInput placeholder="Descripción" formControlName="description">
            </mat-form-field>
            
            <mat-form-field class="full-width">
                <input matInput placeholder="Fecha" formControlName="date">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Hora" formControlName="time">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Lugar" formControlName="place">
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Precio" formControlName="price">
            </mat-form-field>
        </form>
    </mat-card-content>   
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">Salvar</button>
        <button mat-raised-button (click)="onCancel()">Cancelar</button>
      </mat-card-actions> 
</mat-card>